:root {
  --primary-color: #f9f5f6;
  --secondary-color: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

link {
  display: inline-block;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 15vh;
  position: absolute;
  z-index: 2;
}

.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
  padding: 0px 20px;
  background: var(--primary-color);
}

.second-section {
  background: var(--primary-color);
  position: absolute;
  margin-top: 15vh;
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a,
.logo a:active {
  color: var(--secondary-color);
  font-size: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

ul li {
  list-style: none;
  margin: 20px;
}

.links {
  display: none;
}

.nav-button {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.line {
  width: 100%;
  height: 3px;
  background: var(--secondary-color);
}

ul li a,
ul li a:active,
ul li a:focus {
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary-color);
  /* font-weight: 700; */
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 15px;
  /* font-weight: 700; */
  border-radius: 4px;
}

.arrow {
  width: 20px;
  height: 20px;
  fill: var(--secondary-color);
  transform: rotate(0deg);
  transition: transform 0.5s ease-out;
}
.courses-link {
  position: relative;
  height: 40px;
  isolation: isolate;
}

.dropdown-content {
  display: none;

  width: 100%;
  background: var(--secondary-color);
  border-radius: 4px;
  margin-top: 10px;
  z-index: 2;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}

.dropdown-content a {
  color: var(--primary-color);

  border-radius: 4px;
  margin: 10px 5px;
  height: 40px;
}
.courses-link:hover .dropdown-content {
  display: inline-block;
}

.courses-link:hover .arrow {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}

.dropdown-content a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px 15px;
  font-weight: 700;
  border-radius: 4px;
}

.active-menu {
  height: 100%;
}

main {
  margin-top: 15vh;
  height: 85vh;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

main:last-of-type {
  margin-top: 0px;
  padding-top: 50px;
}

/*? REPORTS PAGE */
.reports {
  padding: 10px;
  flex-direction: column;
  justify-content: flex-start;
  /* height: 75vh; */
  height: auto;
}

.reports h1 {
  /* text-align: center; */
  font-size: 1.75rem;
  letter-spacing: 2px;
  font-weight: 100;
  text-align: center;
}

.project {
  margin-top: 10px;
  border: 1px solid black;
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.desc {
  display: flex;
  border-bottom: 1px solid black;
}
.desc-left {
  width: 25%;
  padding: 2.5px 5px;
  border-right: 1px solid black;
}
.desc-right {
  width: 75%;
  padding: 2.5px 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #787878;
}

.download {
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.25rem;

  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  justify-self: flex-start;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  transform: translateY(0px);
  cursor: pointer;
  transition: transform 0.1s ease;
}

.download:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;

  transition: all 0.1s ease;
}

.download:active {
  transform: translateY(1px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  transition: all 0.1s ease;
}

/*! FOOTER */

footer {
  background: var(--secondary-color);
  color: var(--primary-color);
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

footer .logo {
  font-size: 1rem;
}

footer .resources {
  display: flex;
  flex-direction: column;
}

/*! MEDIA QUERIES */

@media screen and (min-width: 768px) {
  nav {
    overflow: visible;
    position: relative;
    height: 15vh;
    background: var(--primary-color);
    z-index: 0;
  }
  .second-section {
    display: none;
  }

  .first-section {
    padding: 0px 30px;
    height: 100%;
  }
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul li a,
  ul li a:active,
  ul li a:focus {
    font-size: 1.65rem;
  }

  .nav-button {
    display: none;
  }

  .courses-link {
    height: 30px;
    /* height: auto; */
  }

  .dropdown-content {
    position: absolute;
    top: 20px;
  }

  main {
    margin-top: 0px;
    height: 85vh;
    z-index: 1;
  }
}

@media screen and (min-width: 1100px) {
  .first-section {
    padding: 0px 60px;
  }

  ul {
    gap: 20px;
  }
  ul li a,
  ul li a:active,
  ul li a:focus {
    font-size: 2rem;
  }
}
